---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="TOTP 2FA Example">
  <main
    class="flex flex-col gap-5 items-center justify-center h-[calc(100dvh-53px)]"
  >
    <h1 class="text-3xl font-extrabold">Authenticate</h1>
    <Button size="lg">
      <a href="/sign-in" class="text-xl">Sign In</a>
    </Button>
  </main>
</Layout>
